.playlists_container {
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}
@media (max-width: 770px) {
  .playlists_container {
    align-items: center;
    display: grid;
    grid-template-columns:1fr;
    grid-template-rows: minmax(auto, 80px) minmax(auto, 80px) minmax(auto, 80px);
    gap: 20px;
  }
}
@media (max-width: 450px) {
  .playlists_container {
    align-items: center;
    display: grid;
    grid-template-columns:1fr;
    grid-template-rows: minmax(auto, 60px) minmax(auto, 60px) minmax(auto, 60px);
    gap: 10px;
  }
}

