.container {
  
}
.artist_info {
  padding: 15px;
  position: relative;
  display: grid;
  grid-template-areas: 
  "ava description"
  ;
  grid-template-columns: 1fr 4fr;
  background-color: rgb(107, 58, 58);
  gap: 20px;
}
.ava {
  grid-area: ava;
  height: 250px;
  width: 250px;
  position: relative;
  border-radius: 5px;
  box-shadow: 1px 1px 15px #111;
  border-radius: 5px;
  overflow: hidden;
}
.ava img {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.name {
  color: #fff;
  font-size: 50px;
  font-weight: 700;
  line-height: 140%;
}
.bg {
  grid-area: bg;
  position: relative;
  width: 100%;
  padding-bottom: 15%;
}
.description {
  z-index: 10;
  grid-area: description;
}
.description p {
  color: rgba(255, 255, 255, 0.5);
  line-height: 140%;
}
.bg img {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.trackList {

}
.trackList_title {
  color: rgba(255, 255, 255, 0.7);
  font-weight: 700;
  padding: 15px;
  background-color: rgb(107, 58, 58);
  border-bottom: 2px solid #222;
}
@media (max-width: 1024px) {
  .ava {
    grid-area: ava;
    height: 200px;
    width: 200px;
  }
}
@media (max-width: 770px) {
  .ava {
    grid-area: ava;
    height: 150px;
    width: 150px;
  }
  .name {
    font-size: 30px;
  }
}
@media (max-width: 450px) {
  .ava {
    grid-area: ava;
    height: 150px;
    width: 150px;
  }
  .artist_info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
  }
  .description {
    text-align: center;
  }
}
