.artist {
  padding: 20px 30px 10px 10px;
}
.artist_container {
  display: grid;
  padding: 10px;
  border-radius: 10px;
  background-color: rgba(94, 152, 146, 0.344);
  grid-template-columns: 1fr 5fr;
  grid-gap: 25px;
  transition: all 0.2s ease 0s;
}
.artist_ava {
  height: 250px;
  width: 250px;
  position: relative;
  box-shadow: 1px 1px 15px #222;
  border-radius: 5px;
  overflow: hidden;
}
.artist_ava img {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0px;
  left: 0px;
  object-fit: cover;
}
.artist_description {

}
.title {
  font-size: 50px;
  color: white;
  font-weight: 700;
  line-height: 140%;
}
.artist_name {
  font-size: 40px;
  color: white;
  font-weight: 700;
  line-height: 140%;
}
.artist_info {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.5);
  line-height: 140%;
}
.artist_container:hover {
  background-color: rgba(94, 152, 146, 0.5);
}