.control_container {
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  display: grid;
  align-items: center;
}
.audio_control {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.timer_container {
  display: flex;
  justify-content: space-between;
  width: 98%;
}
.right__controle_containe {
  justify-content: flex-end;
  display: flex;
}
.playlist_icon {
  margin-left: 30px;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.6);
}
.playlist_icon:hover {
  color: #fff;
}
.close__btn {
  display: none;
}
.icon__repeat {
  color: #fff;
}
@media (max-width: 770px) {
  .close__btn {
    display: flex;
    justify-content: flex-end;
  }
  .control_container {
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 3fr 0.5fr;
    display: grid;
    align-items: center;
    justify-content: space-between; 
    height: 85vh;
  }
  .right__controle_containe {
    display: none;
  }
  .audio_control {
    gap: 10px;
  }
}
