.greeting {
  position: relative;
  padding-bottom: 50px;
}
.greeting_container {
  padding: 0px 0px 50px 0px;
  position: relative;
}
.greeting__text {
  z-index: 10;
  color: rgba(255, 255, 255, 0.8);
  font-size: 60px;
  font-weight: 700;
  padding: 20px 20px 20px 20px;
  text-shadow: 1px 1px 15px rgba(17, 17, 17, 0.5);
}
.greeting__bg {
  z-index: -1;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: blur(5px);
}
.greeting__bg_blur {
  z-index: -2;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: blur(10px);

}