.info_box {
  max-width: 300px;
  display: flex;
  align-items: center;
  gap: 30px;
}
.cover {
  position: relative;
  max-width: 80px;
  padding: 35px;
}
.cover img {
  top: 0px;
  left: 0px;
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.description > *:not(:last-child) {
  margin-bottom: 10px;
}
.audio_title {
  color: rgba(255, 255, 255, 0.8);
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
}
.audio_author {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  cursor: pointer;
}
.audio_author:hover {
  color: #fff;
  text-decoration: underline;
}
@media (max-width: 770px) {
  .info_box {
    width: 100%;
    max-width: none;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 30px;
    padding: 0px;
  }
  .cover {
    position: relative;
    max-width: none;
    width: 40%;
    padding-bottom: 35%;
  }
  .description {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 450px) {
  .info_box {
    width: 100%;
    max-width: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
  .cover {
    position: relative;
    max-width: none;
    width: 100%;
    padding-bottom: 90%;
  }
  .description {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}