.volume_icon {
  cursor: pointer;
  display: flex;
  align-items: center;
  position: relative;
}
.MuiSvgIcon-root {
  position: relative;
}
.MuiSvgIcon-root path {
  position: absolute;
  left: 0px;
}
.volume_control {
  position: relative;
  display: grid;
  grid-template-columns: 35px 4fr;
  justify-content: start;
  align-items: center;
}
.volume_control > *:not(:last-child) {
  margin-right: 10px;
  z-index: 20;
}
@media (max-width: 770px) {
  
  
}