*{
  padding: 0;
  margin: 0;
  border: 0;
}

*,*:before,*:after{
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display:block;}

html,body{
  background: rgb(21, 19, 19);
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 20px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,button,textarea{font-family: inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding: 0;border: 0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li {list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size: inherit;font-weight: 400;}

.body {

}

.App {
  overflow: hidden;
}
.wrapper {
  overflow: hidden;
  position: relative;
  display: grid;
  grid-template-columns: 200px 10fr;
  grid-template-rows: 100% 100px;
  grid-template-areas: 
    'sitebar content'
    'control_bar control_bar'
  ;
  min-width: 100%;
  min-height: 100vh;
  height: 100%;
}
.content {
  overflow: hidden;
  z-index: 0;
  background-color: #111;
  grid-area: content;
  padding-bottom: 100px;
}
.sitebar {
  grid-area: sidebar;
  position: relative;
}
.header {
  width: 100%;
  position: fixed;
  top: 0px;
  padding: 15px 0px;
  z-index: 5;
  display: flex;
  align-items: center;
  grid-area: header;
}
.control_bar {
  grid-area: control_bar;
  position: fixed;
  border-top: 2px solid #333;
  z-index: 100;
  bottom: 0px;
  padding: 10px;
  width: 100%;
  background-color: #222;
  transition: all 0.5s ease 0s;
}

@media (max-width: 770px) {
  .wrapper {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100% 60px;
    grid-template-areas: 
      'content content'
      'sidebar sidebar'
    ;
    min-width: 100%;
    min-height: 100vh;
    height: 100%;
  }
  .control_bar {
    grid-area: control_bar;
    position: absolute;
    bottom: -100%;
    padding: 10px;
    width: 100%;
    height: auto;
  }
  ._active_control_bar {
    position: fixed;
    bottom: 0px;
    height: 100%;
    overflow: scroll;
    z-index: 100;
  }
}
