*{
  padding: 0;
  margin: 0;
  border: 0;
}

*,*:before,*:after{
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display:block;}

html,body{
  background: rgb(21, 19, 19);
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 20px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,button,textarea{font-family: inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding: 0;border: 0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li {list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size: inherit;font-weight: 400;}

.wrapper {
  position: relative;
  overflow: hidden;
  display: grid;
  grid-template-columns: 200px 10fr;
  grid-template-rows: 55px 100%;
  grid-template-areas: 
    'header header'
    'sitebar content'
  ;
  width: 100vw;
  height: 100vh;
}
.content {
  overflow: auto;
  z-index: 0;
  background-color: #222;
  grid-area: content;
  position: relative;
}
.sitebar {
  grid-area: sitebar;
}
.header {
  z-index: 5;
  display: flex;
  align-items: center;
  background: rgb(21, 19, 19);
  grid-area: header;
  box-shadow: 1px 1px 10px #111;
}
.control_panel {
  border-top: 2px solid #333;
  z-index: 10;
  display: flex;
  justify-content: space-around;
  position: absolute;
  bottom: 0px;
  padding: 15px;
  width: 100%;
  background-color: #2d2d2d;
}